body {
  background-image: url(natureRestaurant.jpg);
  background-size: cover;
}

h1 {
  color: pink;
  text-align: center;
  border: 5px solid brown;
  background-color: brown;
  margin: 20px;
  font-family: 'Poiret One', cursive;
}

p {
  color: pink;
  text-align: center;
  border: 5px solid brown;
  background-color: brown;
  margin: 20px;
  text-align: center;
}

#navbarDropdown {
  background-color: pink;
}

.btn {
  display: flex;
  justify-content: center;
  text-align: center;
}
