body {
  background-image: url(natureRestaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: pink;
  text-align: center;
  border: 5px solid brown;
  background-color: brown;
  margin: 0;
  padding: 20px; 
  font-family: 'Poiret One', cursive;
}

p {
  color: pink;
  text-align: center;
  font-size: 23px;
  border: 5px solid brown;
  background-color: brown;
  margin: 40px;
  text-align: center;
}

#navbarDropdown {
  background-color: pink;
}

.btn {
  display: flex;
  justify-content: center;
  text-align: center;
}
